* {
  font-family: "Open Sans";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1160px;
  margin: auto;
}

.container-fluid {
  width: 100%;
  border: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  background: url("../img/background.jpg") no-repeat top center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button-o {
  background: none;
  padding: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 225px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid #fff;
}

.button-o a {
  text-align: center;
}

.button-o:hover {
  background: #e74c3c;
  border: 2px solid #e74c3c;
  cursor: pointer;
}

.button-painted {
  background: #e74c3c;
  border: 2px solid #e74c3c;
  cursor: pointer;
  padding: 12px 30px;
  text-transform: uppercase;
  color: #fff;
}

button {
  border-radius: 5px;
}

.button-gray {
  background-color: #999;
  border: none;
  padding: 14px 32px;
}

.title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-wrap h1 {
  color: #6a6a6a;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.title-wrap h4 {
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 30px;
}

.title-wrap .lines-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-wrap .line {
  width: 80px;
  height: 1px;
  background-color: #999999;
}

.title-wrap .circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #e74c3c;
  margin: 0 15px;
}

.title-wrap .button-painted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e74c3c;
  padding: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.title-wrap .button-painted span {
  color: #fff;
}

.title-wrap .button-painted a {
  text-align: center;
}

.title-wrap .button-painted:hover {
  border: 2px solid #e74c3c;
  cursor: pointer;
}

.navbar {
  padding-top: 40px;
  margin-bottom: 200px;
}

.navbar a {
  color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-nav a:hover {
  color: #e74c3c;
  border-bottom: 1px #e74c3c solid;
  padding-bottom: 15px;
}

.active a {
  color: #e74c3c;
  border-bottom: 1px #e74c3c solid;
  padding: 15px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #fff;
}

.hero h2 {
  font-size: 24px;
  margin-bottom: 0;
}

.hero h1 {
  font-size: 72px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 45px;
}

.hero p {
  width: 580px;
  margin: 0 auto 75px auto;
}

.hero .button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 180px;
}

.hero .button-wrap span {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}

.hero .button-link {
  margin: 0 20px;
}

.hero .anchor {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
}

.hero .anchor-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 90px;
}

.hero .anchor-wrap a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 6px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hero .anchor-wrap a:hover {
  border: 6px solid rgba(255, 255, 255, 0.3);
  -webkit-animation: fadeIn;
          animation: fadeIn;
  border-radius: 50%;
}

.hero .lines-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .lines-wrap .line {
  width: 80px;
  height: 1px;
  display: block;
  background-color: #f1ebe7;
}

.hero .lines-wrap .circle {
  border: 6px solid #e74c3c;
  border-radius: 50%;
  margin: 45px 15px;
}

.adv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.adv-item {
  margin: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adv-item h3 {
  color: #6a6a6a;
  font-size: 18px;
  text-transform: uppercase;
}

.adv-item p {
  font-size: 14px;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 0.9px;
  margin-top: 17px;
  color: #999;
}

.adv-item span.line {
  width: 40px;
  height: 1.5px;
  background-color: rgba(106, 106, 106, 0.2);
}

.adv-item .img-wrap {
  border: 1px solid rgba(153, 153, 153, 0.3);
  border-radius: 4px;
  height: 73px;
  width: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.container-fluid {
  width: auto;
  border-bottom: 1px solid silver;
}

.history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 140px;
}

.history .monitor {
  margin-top: 140px;
  margin-right: 80px;
}

.history .desc-wrap {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.history .desc-wrap h2.title {
  margin-top: 0;
  padding-left: 30px;
  border-left: 6px solid #e74c3c;
  font-size: 36px;
  text-transform: uppercase;
  color: #6a6a6a;
}

.history .desc-wrap .subtitle {
  color: #999999;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 400;
  line-height: 29px;
  margin: 0;
}

.history .button-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 225px;
}

.history .button-link .button-o {
  background-color: #e74c3c;
}

.history .button-link .button-o span {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.our-services {
  background-color: #202020;
  border-right: 2px solid silver;
}

.our-services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-services-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.our-services h2 {
  text-align: end;
  color: #f4f5f9;
  font-weight: 700;
  font-size: 36px;
  padding-right: 30px;
  border-right: 6px solid #e74c3c;
  margin-right: 85px;
  margin-bottom: 70px;
}

.item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

.service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 560px;
}

.service__item p {
  text-align: end;
  color: #999;
  margin: 0;
}

.service__item h3 {
  color: #e74c3c;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
}

.forma {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 50%;
}

.forma-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-left: 47px;
  margin-right: -36px;
  z-index: 15;
}

.forma-wrap .imuselessboy {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 4px solid rgba(255, 255, 255, 0);
}

.forma-wrap .imuselessboy:hover {
  -webkit-animation: fadeIn;
          animation: fadeIn;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.3);
}

.services-img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 636px;
  background-image: url(../img/Services-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1160px) {
  .container {
    width: 100%;
  }
  html {
    width: 100%;
  }
}

.recent-works {
  margin-top: 135px;
  color: #6a6a6a;
  text-transform: uppercase;
  font-weight: 700;
}

.recent-works a, .recent-works span {
  color: #999;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.recent-works a:hover, .recent-works span:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #e74c3c;
  font-weight: 700;
}

.recent-works span {
  margin: 0 5px;
}

.recent-works .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: none;
}

.recent-works .container h2 {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
}

.recent-works .work-img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 50px;
  color: #fff;
}

.recent-works .work-img-wrap a {
  color: #ffffff;
}

.recent-works .work-img-wrap .work-img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25%;
  background: url("../img/recent-work-bg.jpg") no-repeat top center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 0.5px solid white;
}

.recent-works .work-img-wrap .work-img .work-hide {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: none;
  margin: 50px;
}

.recent-works .work-img-wrap .work-img .work-hide .line {
  width: 45px;
  height: 4px;
}

.recent-works .work-img-wrap .work-img:hover .work-hide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recent-works .work-img-wrap .work-img .work-hide {
  display: none;
  margin: 50px;
}

.recent-works .lines-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 80px 0;
}

.recent-works .line {
  width: 80px;
  height: 1px;
  background-color: #999;
}

.recent-works .circle {
  border-radius: 50%;
  background-color: #e74c3c;
  width: 8px;
  height: 8px;
  margin: 0 15px;
}

.case-studio {
  padding-top: 150px;
  background-color: #f4f5f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 150px;
}

.case-studio .container {
  background-color: #f4f5f9;
}

.case-studio .title-wrap {
  margin-bottom: 70px;
}

.case-studio .case-wrap {
  float: left;
  position: absolute;
  margin-top: 45px;
  width: 40em;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.case-studio .case-wrap img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 120px;
  background-color: #e74c4c;
  padding: 15px;
  margin-bottom: 80px;
}

.case-studio .case-wrap h3 {
  color: #6a6a6a;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px;
}

.case-studio .case-wrap .line {
  width: 40px;
  height: 1px;
  background-color: #6a6a6a;
}

.case-studio .case-wrap p {
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 1.05px;
  margin: 30px 60px 50px 60px;
}

.case-studio .case-wrap a {
  margin-bottom: 70px;
}

.case-studio .case-wrap button {
  padding: 15px 30px;
}

.case-studio .case-wrap button span {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.case-studio img {
  float: right;
}

.rating {
  background: url("../img/rating-bg.jpg") no-repeat top center;
  margin: 0;
  padding: 0;
}

.rating * {
  color: #f4f5f9;
}

.rating .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: none;
}

.rating .rate-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 160px;
}

.rating .rate-wrap h2, .rating .rate-wrap h3 {
  margin: 5px;
  padding: 0;
  color: #f4f5f9;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.rating .rate-wrap h2 {
  font-weight: 700;
}

.rating .rate-wrap img {
  padding: 40px;
  border: 1px solid white;
  border-radius: 50%;
  margin-top: 130px;
  margin-bottom: 60px;
}

.our-pricing {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.our-pricing .title-wrap {
  margin-top: 120px;
  margin-bottom: 65px;
}

.our-pricing .price-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-pricing .price-wrap .price {
  background-color: #f4f5f9;
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-pricing .price-wrap .price .amout-bg {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 150px;
  position: relative;
  bottom: 80px;
  border-radius: 50%;
  background-color: rgba(244, 245, 249, 0.25);
  padding: 10px;
  z-index: 10;
}

.our-pricing .price-wrap .price .amout-wrap {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  color: #999999;
}

.our-pricing .price-wrap .price .amout-wrap .amout {
  font-size: 40px;
  font-weight: 700;
}

.our-pricing .price-wrap .price .amout-wrap span {
  font-weight: 400;
  font-size: 13px;
}

.our-pricing .price-wrap .price h3 {
  padding-top: 50px;
  padding-bottom: 130px;
  background-color: #999999;
  width: 100%;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1.8px;
}

.our-pricing .price-wrap .price p {
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  position: relative;
  bottom: 60px;
  margin: 0;
  text-align: center;
}

.our-pricing .price-wrap .price-red h3 {
  background-color: #e74c3c;
}
/*# sourceMappingURL=style.css.map */